* { 
	box-sizing: border-box;
	}
img {
	max-width: 100%;
	}
        .menu {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .menu img {
            width: 25%;
            height: 15%;
        }
        .go_right {
            margin-left: auto;
        }
